<header>
  <div class="line-header">
    <div class="line-header-image">
      <a href="#">
        <img
          src="https://res.cloudinary.com/miguelsmuller/image/upload/v1625092724/pmrc-site/Emblema_bxjwjt.WebP"
          alt="Brasão - Prefeitura Municipal de Rio Claro - Rio de Janeiro"
          width="290"
          height="340"
        />
      </a>
    </div>
    <h1 class="line-header-title">Prefeitura Municipal de <span>Rio Claro</span></h1>
    <div class="line-header-extra">
      <p>Siga os perfis da prefeitura nas redes sociais</p>

      <ul class="flex flex-row justify-end space-x-0.5">
        <li>
          <a href="#">
            <button class="mini-icon-behavior">
              <svg class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor">
                <path style="fill: none" d="M0,0h24v24H0C0,24,0,0,0,0z" />
                <path
                  d="M13.2,6.9H16V3.5h-2.8c-2.2,0-3.9,1.8-3.9,3.9v1.7H7v3.4h2.3v9h3.4v-9h2.8L16,9.1h-3.4V7.4C12.6,7.1,12.9,6.9,13.2,6.9z"
                />
              </svg>
            </button>
          </a>
        </li>

        <li>
          <a href="#">
            <button class="mini-icon-behavior">
              <svg class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor">
                <path style="fill: none" d="M0,0h24v24H0V0z" />
                <path
                  d="M15.7,4H8.3C5.9,4,4,5.9,4,8.3v7.3C4,18.1,5.9,20,8.3,20h7.3c2.4,0,4.3-1.9,4.3-4.3V8.3C20,5.9,18.1,4,15.7,4z M12,15.5	c-2,0-3.5-1.5-3.5-3.5S10,8.5,12,8.5s3.5,1.5,3.5,3.5S14,15.5,12,15.5z M16.3,8.9c-0.6,0-1.3-0.5-1.3-1.3c0-0.6,0.5-1.3,1.3-1.3	c0.6,0,1.3,0.5,1.3,1.3C17.4,8.5,16.9,8.9,16.3,8.9z"
                />
              </svg>
            </button>
          </a>
        </li>

        <li>
          <a href="#">
            <button class="mini-icon-behavior">
              <svg class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor">
                <path style="fill: none" d="M0,0h24v24H0V0z" />
                <path
                  d="M21.1,7.4c-0.2-0.8-0.9-1.5-1.7-1.7C17.9,5.3,12,5.3,12,5.3s-5.9,0-7.4,0.4C3.8,5.9,3.1,6.6,2.9,7.4C2.5,8.9,2.5,12,2.5,12	s0,3.1,0.4,4.6c0.2,0.8,0.9,1.4,1.7,1.7c1.5,0.4,7.4,0.4,7.4,0.4s5.9,0,7.4-0.4c0.8-0.2,1.5-0.8,1.7-1.7c0.4-1.5,0.4-4.6,0.4-4.6	S21.5,8.9,21.1,7.4z M10.1,14.8V9.2l5,2.8L10.1,14.8L10.1,14.8z"
                />
              </svg>
            </button>
          </a>
        </li>
      </ul>

      <a href="#" class="mini-text-behavior">
        <span>Acesso ao webmail</span>
        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" stroke="none">
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M21.99 8c0-.72-.37-1.35-.94-1.7l-8.04-4.71c-.62-.37-1.4-.37-2.02 0L2.95 6.3C2.38 6.65 2 7.28 2 8v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2l-.01-10zm-11.05 4.34l-7.2-4.5 7.25-4.25c.62-.37 1.4-.37 2.02 0l7.25 4.25-7.2 4.5c-.65.4-1.47.4-2.12 0z"
          />
        </svg>
      </a>
    </div>
  </div>

  <div class="line-navigation">
    <app-navigation></app-navigation>
  </div>
</header>
