<div
  class="relative h-56 md:h-72 bg-no-repeat bg-cover bg-left-top flex items-center"
  style="
    background-image: url('https://res.cloudinary.com/miguelsmuller/image/upload/v1621902134/pmrc-site/background-praca_bbv2xc.WebP');
  "
>
  <div
    class="
      absolute
      top-0
      left-0
      h-full
      w-full
      bg-elephant-500 bg-opacity-80 bg-clip-padding
      backdrop-filter backdrop-blur-sm
    "
  ></div>
  <div class="flex w-full px-4 h-full text-gray-50 justify-center items-center">
    <div class="search-group">
      <div>
        <svg viewBox="0 0 20 20" class="stroke-2" fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          />
        </svg>
        <input type="text" id="searchKeywork" maxlength="50" aria-label="Pesquise por um termo no site" />
        <button>Buscar</button>
      </div>

      <p>Recomendações de Busca: <span class="font-bold">OBRAS, EDUCAÇÃO, PONTOS TURISTÍCOS, LICITAÇÕES</span></p>
    </div>
  </div>
</div>
