<div class="container mx-auto w-full px-2 pt-8">
  <ol class="list-none w-full inline-flex overflow-hidden truncate">
    <li class="flex items-center">
      <a [routerLink]="['/content']">Início</a>
      <svg class="fill-current w-3 h-3 mx-2" viewBox="0 0 320 512">
        <path
          d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
        />
      </svg>
    </li>
    <li class="flex items-center">
      <a [routerLink]="['/content']">Conteúdos</a>
      <svg class="fill-current w-3 h-3 mx-2" viewBox="0 0 320 512">
        <path
          d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
        />
      </svg>
    </li>
    <li class="text-elephant-400 truncate">
      <span>Título de uma página de conteúdo</span>
    </li>
  </ol>
</div>

<div class="container mx-auto w-full px-2 pt-2">
  <div class="relative pt-4 text-xs">
    <h1 class="font-bold text-3xl">Título de uma página de conteúdo</h1>
    <span class="absolute w-16 h-1 bg-fruit-salad-500 botton-0 left-0"></span>
    <p class="text-xs font-light pt-4">Última Atualização: 10 de Outubro de 2019</p>
  </div>
</div>

<div class="pt-4">
  <div
    class="bg-fixed bg-center bg-no-repeat bg-cover"
    style="
      height: 330px;
      background-image: url('https://res.cloudinary.com/miguelsmuller/image/upload/v1621902134/pmrc-site/background-praca_bbv2xc.WebP');
    "
  ></div>
</div>

<div class="container mx-auto w-full px-2 pt-8">
  <ul
    class="
      flex flex-col
      float-left
      rounded
      overflow-hidden
      w-full
      md:w-1/4
      mb-4
      md:mr-4 md:mt-2
      border border-elephant-300
      bg-white
    "
  >
    <li class="p-4 border-b border-elephant-300">
      <a class="block transition duration-200 ease-in-out transform hover:translate-x-1" href="#link1"
        >Sed aliquam sit amet ante nec</a
      >
    </li>
    <li class="p-4 border-b border-elephant-300">
      <a class="block transition duration-200 ease-in-out transform hover:translate-x-1" href="#link2"
        >In rhoncus id nunc in luctus</a
      >
    </li>
    <li class="p-4 border-b border-elephant-300">
      <a class="block transition duration-200 ease-in-out transform hover:translate-x-1" href="#link3"
        >Praesent et orci ut arcu eleifend lacinia</a
      >
    </li>
    <li class="p-4 border-b border-elephant-300">
      <a class="block transition duration-200 ease-in-out transform hover:translate-x-1" href="#link4"
        >Sed aliquam sit amet ante nec</a
      >
    </li>
    <li class="p-4 border-b border-elephant-300">
      <a class="block transition duration-200 ease-in-out transform hover:translate-x-1" href="#link5"
        >Morbi tristique feugiat laoreet</a
      >
    </li>
    <li class="p-4 border-elephant-300">
      <a class="block transition duration-200 ease-in-out transform hover:translate-x-1" href="#link6"
        >Duis ut ultricies metus</a
      >
    </li>
  </ul>

  <h2 id="link1" class="text-2xl font-bold">Sed aliquam sit amet ante nec</h2>
  <p class="pb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut venenatis, odio id efficitur tempus, nisi diam viverra
    risus, a maximus sem velit sed felis. Mauris tortor augue, euismod et consectetur sed, cursus vitae sem. Curabitur
    aliquam vehicula euismod. Nulla vel magna hendrerit, dignissim ex id, ornare est. Donec tellus purus, sodales
    posuere tincidunt in, suscipit vel dolor. Sed lectus quam, elementum at semper nec, auctor at mi. Sed eu varius
    neque, non suscipit ex. In sed efficitur lacus. Suspendisse condimentum urna nisi, nec vestibulum turpis tristique
    pretium vestibulum eros. Nunc ut quam ut enim cursus convallis. Cras consectetur justo sit amet placerat malesuada.
    Maecenas molestie placerat suscipit. Sed eu finibus dolor, et ultrices dolor. Nam in massa eleifend, lacinia magna
    at, mollis arcu.
  </p>

  <p class="pb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus quis neque euismod aliquet. Nulla ipsum
    ipsum, dapibus non lacus vel, pellentesque ornare neque. Proin congue mollis ultrices. Suspendisse fermentum tellus
    sit amet cursus pretium. Praesent dignissim mollis velit at posuere. Vestibulum hendrerit, nisi ut ornare pulvinar,
    massa libero vehicula turpis, ut congue orci risus ac massa. Curabitur sit amet ante dui. Cras interdum, felis et
    lacinia cursus, ipsum quam suscipit diam, sit amet laoreet quam libero non massa. Maecenas nec velit at mi pharetra
    blandit at ut est. Fusce fermentum est a sodales pretium. Pellentesque cursus ante justo, scelerisque ornare massa
    tincidunt convallis. Ut dapibus iaculis arcu in porta. Nam posuere ipsum mauris, vel blandit nulla pretium vel.
    Curabitur viverra nulla ante, ut volutpat tortor blandit nec. Nulla facilisi. Maecenas vel sem commodo, placerat
    risus eu, convallis justo. In rhoncus id nunc in luctus. Donec ut vulputate metus, et feugiat odio. Aenean lorem
    nulla, rhoncus eu lacus ut, pretium vestibulum eros.
  </p>

  <p class="pb-4">
    Nam posuere ipsum mauris, vel blandit nulla pretium vel. Curabitur viverra nulla ante, ut volutpat tortor blandit
    nec. Nulla facilisi. Maecenas vel sem commodo, placerat risus eu, convallis justo. In rhoncus id nunc in luctus.
    Donec ut vulputate metus, et feugiat odio. Aenean lorem nulla, rhoncus eu lacus ut, pretium vestibulum eros. Nunc ut
    quam ut enim cursus convallis. Cras consectetur justo sit amet placerat malesuada. Maecenas molestie placerat
    suscipit. Sed eu finibus dolor, et ultrices dolor. Nam in massa eleifend, lacinia magna at, mollis arcu.
  </p>

  <p class="pb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus quis neque euismod aliquet. Nulla ipsum
    ipsum, dapibus non lacus vel, pellentesque ornare neque. Proin congue mollis ultrices. Suspendisse fermentum tellus
    sit amet cursus pretium. Praesent dignissim mollis velit at posuere. Vestibulum hendrerit, nisi ut ornare pulvinar,
    massa libero vehicula turpis, ut congue orci risus ac massa. Curabitur sit amet ante dui. Cras interdum, felis et
    lacinia cursus, ipsum quam suscipit diam, sit amet laoreet quam libero non massa. Maecenas nec velit at mi pharetra
    blandit at ut est. Fusce fermentum est a sodales pretium. Pellentesque cursus ante justo, scelerisque ornare massa
    tincidunt convallis. Ut dapibus iaculis arcu in porta. Nam posuere ipsum mauris, vel blandit nulla pretium vel.
    Curabitur viverra nulla ante, ut volutpat tortor blandit nec. Nulla facilisi. Maecenas vel sem commodo, placerat
    risus eu, convallis justo. In rhoncus id nunc in luctus. Donec ut vulputate metus, et feugiat odio. Aenean lorem
    nulla, rhoncus eu lacus ut, pretium vestibulum eros.
  </p>

  <h2 id="link2" class="text-2xl font-bold">In rhoncus id nunc in luctus</h2>
  <p class="pb-4">
    Nam posuere ipsum mauris, vel blandit nulla pretium vel. Curabitur viverra nulla ante, ut volutpat tortor blandit
    nec. Nulla facilisi. Maecenas vel sem commodo, placerat risus eu, convallis justo. In rhoncus id nunc in luctus.
    Donec ut vulputate metus, et feugiat odio. Aenean lorem nulla, rhoncus eu lacus ut, pretium vestibulum eros. Nunc ut
    quam ut enim cursus convallis. Cras consectetur justo sit amet placerat malesuada. Maecenas molestie placerat
    suscipit. Sed eu finibus dolor, et ultrices dolor. Nam in massa eleifend, lacinia magna at, mollis arcu.
  </p>

  <p class="pb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus quis neque euismod aliquet. Nulla ipsum
    ipsum, dapibus non lacus vel, pellentesque ornare neque. Proin congue mollis ultrices. Suspendisse fermentum tellus
    sit amet cursus pretium. Praesent dignissim mollis velit at posuere. Vestibulum hendrerit, nisi ut ornare pulvinar,
    massa libero vehicula turpis, ut congue orci risus ac massa. Curabitur sit amet ante dui. Cras interdum, felis et
    lacinia cursus, ipsum quam suscipit diam, sit amet laoreet quam libero non massa. Maecenas nec velit at mi pharetra
    blandit at ut est. Fusce fermentum est a sodales pretium. Pellentesque cursus ante justo, scelerisque ornare massa
    tincidunt convallis. Ut dapibus iaculis arcu in porta. Nam posuere ipsum mauris, vel blandit nulla pretium vel.
    Curabitur viverra nulla ante, ut volutpat tortor blandit nec. Nulla facilisi. Maecenas vel sem commodo, placerat
    risus eu, convallis justo. In rhoncus id nunc in luctus. Donec ut vulputate metus, et feugiat odio. Aenean lorem
    nulla, rhoncus eu lacus ut, pretium vestibulum eros.
  </p>

  <h2 id="link3" class="text-2xl font-bold">Praesent et orci ut arcu eleifend lacinia</h2>
  <p class="pb-4">
    Integer porta mi at quam sollicitudin mattis. Nunc eget lacus nec arcu vestibulum scelerisque. Praesent molestie
    nulla id mi pellentesque, nec scelerisque nunc pharetra. Sed semper velit sit amet tristique finibus. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. Cras velit magna, congue sit amet laoreet vitae, volutpat ut
    tellus. Maecenas erat nisl, viverra vitae gravida vitae, fermentum placerat magna. Vivamus at consequat ante. In
    dictum neque vel ullamcorper vehicula. Quisque tempus sem vitae urna egestas ultricies eget vel ipsum. Praesent et
    orci ut arcu eleifend lacinia id sed libero. In hac habitasse platea dictumst. Vivamus a ultrices lectus, quis
    interdum lacus. Donec mollis, dui id placerat pellentesque, enim diam venenatis magna, id pulvinar quam sem vel
    nulla. Sed ornare nunc quam, eu viverra dui gravida ut.
  </p>

  <p class="pb-4">
    Nam posuere ipsum mauris, vel blandit nulla pretium vel. Curabitur viverra nulla ante, ut volutpat tortor blandit
    nec. Nulla facilisi. Maecenas vel sem commodo, placerat risus eu, convallis justo. In rhoncus id nunc in luctus.
    Donec ut vulputate metus, et feugiat odio. Aenean lorem nulla, rhoncus eu lacus ut, pretium vestibulum eros. Nunc ut
    quam ut enim cursus convallis. Cras consectetur justo sit amet placerat malesuada. Maecenas molestie placerat
    suscipit. Sed eu finibus dolor, et ultrices dolor. Nam in massa eleifend, lacinia magna at, mollis arcu.
  </p>

  <p class="pb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus quis neque euismod aliquet. Nulla ipsum
    ipsum, dapibus non lacus vel, pellentesque ornare neque. Proin congue mollis ultrices. Suspendisse fermentum tellus
    sit amet cursus pretium. Praesent dignissim mollis velit at posuere. Vestibulum hendrerit, nisi ut ornare pulvinar,
    massa libero vehicula turpis, ut congue orci risus ac massa. Curabitur sit amet ante dui. Cras interdum, felis et
    lacinia cursus, ipsum quam suscipit diam, sit amet laoreet quam libero non massa. Maecenas nec velit at mi pharetra
    blandit at ut est. Fusce fermentum est a sodales pretium. Pellentesque cursus ante justo, scelerisque ornare massa
    tincidunt convallis. Ut dapibus iaculis arcu in porta. Nam posuere ipsum mauris, vel blandit nulla pretium vel.
    Curabitur viverra nulla ante, ut volutpat tortor blandit nec. Nulla facilisi. Maecenas vel sem commodo, placerat
    risus eu, convallis justo. In rhoncus id nunc in luctus. Donec ut vulputate metus, et feugiat odio. Aenean lorem
    nulla, rhoncus eu lacus ut, pretium vestibulum eros.
  </p>

  <h2 id="link4" class="text-2xl font-bold">Sed aliquam sit amet ante nec</h2>
  <p class="pb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut venenatis, odio id efficitur tempus, nisi diam viverra
    risus, a maximus sem velit sed felis. Mauris tortor augue, euismod et consectetur sed, cursus vitae sem. Curabitur
    aliquam vehicula euismod. Nulla vel magna hendrerit, dignissim ex id, ornare est. Sed auctor faucibus cursus. Sed
    aliquam sit amet ante nec elementum. Aenean sit amet viverra risus, non viverra diam. Donec tellus purus, sodales
    posuere tincidunt in, suscipit vel dolor. Sed lectus quam, elementum at semper nec, auctor at mi. Sed eu varius
    neque, non suscipit ex.
  </p>

  <p class="pb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus quis neque euismod aliquet. Nulla ipsum
    ipsum, dapibus non lacus vel, pellentesque ornare neque. Proin congue mollis ultrices. Suspendisse fermentum tellus
    sit amet cursus pretium. Praesent dignissim mollis velit at posuere. Vestibulum hendrerit, nisi ut ornare pulvinar,
    massa libero vehicula turpis, ut congue orci risus ac massa. Curabitur sit amet ante dui. Cras interdum, felis et
    lacinia cursus, ipsum quam suscipit diam, sit amet laoreet quam libero non massa.
  </p>

  <h2 id="link5" class="text-2xl font-bold">Morbi tristique feugiat laoreet</h2>
  <p class="pb-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis sapien diam, sit amet venenatis magna
    eleifend id. Vestibulum pharetra libero erat, et dictum tortor lobortis a. Duis eu felis suscipit, ornare tortor
    eget, suscipit dui. Nulla tellus justo, luctus id varius vel, tincidunt at lorem. In hac habitasse platea dictumst.
    In pretium, turpis sit amet ultricies fringilla, lacus enim bibendum est, et suscipit nunc dolor dapibus felis.
    Etiam non consequat nibh. In purus nibh, posuere non placerat eu, suscipit in libero. Sed nec tempus magna. Fusce
    quis nisl non orci hendrerit tincidunt vel vel tellus.
  </p>

  <p class="pb-4">
    Quisque pellentesque turpis eget risus vestibulum, a vulputate lacus cursus. Nulla dui nibh, maximus ac maximus sit
    amet, congue et massa. Phasellus nec leo lacus. Integer nunc orci, elementum gravida pellentesque et, tincidunt ut
    nulla. Donec cursus viverra urna, at suscipit neque viverra in. Suspendisse elit odio, facilisis ultrices risus
    tincidunt, ultrices semper nisi. Maecenas at facilisis urna. Vivamus ultricies felis eget varius fermentum. Morbi
    tristique feugiat laoreet. Suspendisse potenti. Morbi rhoncus risus et sapien rutrum consequat quis non ante.
    Curabitur hendrerit vestibulum tortor, quis sagittis purus sagittis non. Sed in rhoncus arcu. In hac habitasse
    platea dictumst.
  </p>

  <h2 id="link6" class="text-2xl font-bold">Duis ut ultricies metus</h2>
  <p class="pb-4">
    Sed commodo ut neque ut dapibus. Proin blandit auctor nisi vitae congue. Nam non dui erat. Proin at augue nibh. Nunc
    sodales velit porttitor nunc varius efficitur. Donec eu elementum diam. Suspendisse non faucibus lectus. Proin risus
    lacus, sagittis in ante in, eleifend rutrum sem. Nullam ullamcorper tortor varius eros facilisis, a cursus diam
    dapibus. Nullam a tellus dignissim nibh sodales pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Duis ut ultricies metus.
  </p>

  <p class="pb-4">
    Phasellus interdum sodales eros vel rutrum. Sed imperdiet odio vel risus imperdiet, non tincidunt massa facilisis.
    Mauris sagittis mattis vestibulum. Pellentesque sapien felis, bibendum quis accumsan sed, ullamcorper vel est. Sed
    lobortis, dolor eget accumsan fermentum, sem arcu convallis dui, sit amet consectetur ipsum sem et erat. Phasellus
    in tincidunt lectus. Etiam turpis nisl, commodo vel molestie id, ultricies eu nulla. Fusce eros turpis, ullamcorper
    eu aliquam in, interdum nec massa.
  </p>

  <p class="pb-4">
    Maecenas urna dui, pharetra at cursus sed, porttitor nec tellus. Praesent non enim sit amet ligula porta fringilla.
    Nunc laoreet malesuada velit nec condimentum. Quisque sed nisl et neque ultrices scelerisque bibendum sit amet
    lectus. Sed maximus imperdiet scelerisque. Suspendisse non malesuada neque. Nullam quis dolor ut justo porta blandit
    vitae id nibh.
  </p>

  <p class="pb-4">
    Nam nec sapien non ligula cursus facilisis et condimentum urna. Cras at malesuada nisi. Integer tempor facilisis
    vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean et
    nibh vitae orci accumsan gravida sagittis quis odio. Aenean non magna eleifend, fringilla quam id, vehicula ligula.
    Duis vitae tortor ac velit posuere volutpat. Maecenas maximus erat sed mi rutrum, at mollis nisi auctor. In et
    varius sem. Pellentesque et nulla fringilla, tempus eros quis, tempor leo. Nullam faucibus nibh sem, eget
    ullamcorper ipsum egestas id. Suspendisse ut interdum sapien. Sed fermentum varius sagittis. Morbi quis lacinia
    ante. Pellentesque pretium, metus nec consequat feugiat, eros erat pharetra urna, ac tincidunt orci mi ac odio.
  </p>
</div>
