<footer>
  <div class="h-56 pt-16 bg-no-repeat bg-left-bottom border-b-4 border-fruit-salad-500" style="background-image: url('assets/images/church-silhouette.png')"></div>

  <div class="bg-elephant-500 text-gray-50">
    <div class="container mx-auto w-full gap-8 px-2 flex flex-row flex-wrap pt-10 pb-8 justify-between items-stretch">
      <div class="w-72">
        <h2 class="text-2xl font-black">Prefeitura Municipal de Rio Claro</h2>
        <div class="py-4">
          <p>Av. João Baptista Portugal, 230</p>
          <p>Centro - Rio Claro - RJ - CEP: 27460-000</p>
          <p>CNPJ: 29.051.216/0001-68</p>
        </div>
        <div>
          <p>Tel: (24) 3332-1717 ou (24) 3332-1292</p>
          <p>Email: <a href="#">pmrc@rioclaro.rj.gov.br</a></p>
        </div>
      </div>

      <div class="">
        <h4 class="text-xl font-bold pb-2">Navegação Rápida</h4>
        <ul class="space-y-2">
          <li><a href="page.html">A Cidade de Rio Claro</a></li>
          <li><a href="page.html">Serviços online</a></li>
          <li><a href="page.html">Boletim Oficial</a></li>
          <li><a href="page.html">Notícias</a></li>
          <li><a href="page.html">Portal da Transparência</a></li>
          <li><a href="page.html">Ouvidoria Online</a></li>
        </ul>
      </div>

      <div class="flex-1 md:flex-initial flex flex-col justify-between">
        <div class="flex flex-row justify-around items-stretch space-x-4">
          <a href="#" class="flex-1 flex flex-col p-4 items-center rounded border-4" style="background-color: #3B5998; border-color: #2c3f69">
            <svg class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
              />
            </svg>
            <span class="text-2xl font-bold">34569</span>
            <span>curtidas</span>
          </a>

          <a href="#" class="flex-1 flex flex-col p-4 items-center rounded border-4" style="background-color: #9E6F4F; border-color: #8d6347">
            <svg class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
              />
            </svg>
            <span class="text-2xl font-bold">45678</span>
            <span>seguidores</span>
          </a>

          <a href="#" class="flex-1 flex flex-col p-4 items-center rounded border-4" style="background-color: #b00; border-color: #a20000">
            <svg class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
              />
            </svg>
            <span class="text-2xl font-bold">2243</span>
            <span>assinantes</span>
          </a>
        </div>

        <div class="text-xs pt-4 text-center md:text-right">
          <p>Todos os direitos reservados. Proibida a reprodução sem prévia autorização</p>
          <p>Um site desenvolvido por <a href="#" class="text-sm font-bold">Miguel Müller</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
