<app-home-search></app-home-search>
<app-home-news></app-home-news>

<div class="container mx-auto w-full px-2 py-10">
  <div class="grid grid-cols-4 gap-6">

    <div>
      <a href="#">
        <div class="flex flex-row items-center justify-between pb-2">
          <svg class="h-12 w-12 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            />
          </svg>
          <h4 class="text-lg font-bold leading-snug">ISS Eletrônico e Nota Fiscal Eletrônica</h4>
        </div>
        <p class="text-fruit-salad-500">Emita e consulte Notas Fiscais Eletrônicas, além de guia de ISS</p>
      </a>
    </div>

    <div>
      <a href="#">
        <div class="flex flex-row items-center justify-between pb-2">
          <svg class="h-12 w-12 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            />
          </svg>
          <h4 class="text-lg font-bold leading-snug">IPTU, COSIP e Taxas</h4>
        </div>
        <p class="text-fruit-salad-500">Retire sua 2ª via de IPTU e todas as cotas, além de alvará de cartão, 2a via de alvará e outros</p>
      </a>
    </div>

    <div>
      <a href="#">
        <div class="flex flex-row items-center justify-between pb-2">
          <svg class="h-12 w-12 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            />
          </svg>
          <h4 class="text-lg font-bold leading-snug">IPTU, COSIP e Taxas</h4>
        </div>
        <p class="text-fruit-salad-500">Retire sua 2ª via de IPTU e todas as cotas, além de alvará de cartão, 2a via de alvará e outros</p>
      </a>
    </div>

    <div>
      <a href="#">
        <div class="flex flex-row items-center justify-between pb-2">
          <svg class="h-12 w-12 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            />
          </svg>
          <h4 class="text-lg font-bold leading-snug">Parcelamento de Débitos</h4>
        </div>
        <p class="text-fruit-salad-500">Opções para emissão de 2a via de documento de arrecadação</p>
      </a>
    </div>

    <div>
      <a href="#">
        <div class="flex flex-row items-center justify-between pb-2">
          <svg class="h-12 w-12 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            />
          </svg>
          <h4 class="text-lg font-bold leading-snug">Emissão de Certidões</h4>
        </div>
        <p class="text-fruit-salad-500">Certidão Negativa de débitos do imóvel, dados cadastrais do imóvel e outras clicando aqui</p>
      </a>
    </div>

    <div>
      <a href="#">
        <div class="flex flex-row items-center justify-between pb-2">
          <svg class="h-12 w-12 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            />
          </svg>
          <h4 class="text-lg font-bold leading-snug">Recolhimento de Entulho</h4>
        </div>
        <p class="text-fruit-salad-500">A entrega da caçamba é feita de Segunda a Sexta- Feira, clique aqui e agende a sua</p>
      </a>
    </div>

    <div>
      <a href="#">
        <div class="flex flex-row items-center justify-between pb-2">
          <svg class="h-12 w-12 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            />
          </svg>
          <h4 class="text-lg font-bold leading-snug">Concursos e Processos Seletivos</h4>
        </div>
        <p class="text-fruit-salad-500">Obtenha todas as informações disponíveis sobre o andamento de processos e concursos</p>
      </a>
    </div>

    <div>
      <a href="#">
        <div class="flex flex-row items-center justify-between pb-2">
          <svg class="h-12 w-12 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            />
          </svg>
          <h4 class="text-lg font-bold leading-snug">Ouvidoria Online</h4>
        </div>
        <p class="text-fruit-salad-500">Solicitações, informações e reclamações de serviços, além de atendimentos de emergência</p>
      </a>
    </div>

    <div>
      <a href="#">
        <div class="flex flex-row items-center justify-between pb-2">
          <svg class="h-12 w-12 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            />
          </svg>
          <h4 class="text-lg font-bold leading-snug">Emissão de Certidões</h4>
        </div>
        <p class="text-fruit-salad-500">Certidão Negativa de débitos do imóvel, dados cadastrais do imóvel e outras clicando aqui</p>
      </a>
    </div>
  </div>
</div>
