<app-home-search></app-home-search>
<app-home-news></app-home-news>

<div class="container mx-auto w-full px-2 py-10">
  <div class="grid grid-cols-4 gap-6">
    <div class="col-span-2 md:col-span-1 items-stretch" *ngFor="let service of services">
      <a [routerLink]="[service.path]">
        <div class="flex flex-row items-center justify-between pb-2">
          <svg
            class="h-12 w-12 hidden sm:flex flex-shrink-0"
            enable-background="new 0 0 24 24"
            height="24px"
            width="24px"
            viewBox="0 0 24 24"
            stroke="none"
            fill="currentColor"
            [innerHTML]="service.icon | safe"
          ></svg>
          <h2 class="text-lg font-bold leading-snug">{{ service.title }}</h2>
        </div>
        <p class="text-fruit-salad-700">{{ service.description }}</p>
      </a>
    </div>
  </div>
</div>
