<footer>
  <div></div>
  <div class="container-external">
    <div class="container">
      <div class="column-left">
        <h2 class="text-2xl font-black">Prefeitura Municipal de Rio Claro</h2>
        <div class="py-4">
          <p>Av. João Baptista Portugal, 230</p>
          <p>Centro - Rio Claro - RJ - CEP: 27460-000</p>
          <p>CNPJ: 29.051.216/0001-68</p>
        </div>
        <div>
          <p>Tel: (24) 3332-1717 ou (24) 3332-1292</p>
          <p>Email: <a href="#">pmrc@rioclaro.rj.gov.br</a></p>
        </div>
      </div>

      <div class="column-middle">
        <h4 class="text-xl font-bold pb-2">Navegação Rápida</h4>
        <ul class="footer-navigation">
          <li *ngFor="let link of footerLinks">
            <a [routerLink]="[link.path]">{{ link.title }}</a>
          </li>
        </ul>
      </div>

      <div class="column-right">
        <div class="column-right-line-1">
          <app-footer-social bgColor="#3b5998" bdColor="#2c3f69" source="facebook">
            <svg class="h-10 w-10" viewBox="0 0 24 24" fill="currentColor">
              <path style="fill: none" d="M0,0h24v24H0C0,24,0,0,0,0z" />
              <path
                d="M13.2,6.9H16V3.5h-2.8c-2.2,0-3.9,1.8-3.9,3.9v1.7H7v3.4h2.3v9h3.4v-9h2.8L16,9.1h-3.4V7.4C12.6,7.1,12.9,6.9,13.2,6.9z"
              />
            </svg>
          </app-footer-social>

          <app-footer-social bgColor="#9e6f4f" bdColor="#8d6347" source="uinstagram">
            <svg class="h-10 w-10" viewBox="0 0 24 24" fill="currentColor">
              <path style="fill: none" d="M0,0h24v24H0V0z" />
              <path
                d="M15.7,4H8.3C5.9,4,4,5.9,4,8.3v7.3C4,18.1,5.9,20,8.3,20h7.3c2.4,0,4.3-1.9,4.3-4.3V8.3C20,5.9,18.1,4,15.7,4z M12,15.5	c-2,0-3.5-1.5-3.5-3.5S10,8.5,12,8.5s3.5,1.5,3.5,3.5S14,15.5,12,15.5z M16.3,8.9c-0.6,0-1.3-0.5-1.3-1.3c0-0.6,0.5-1.3,1.3-1.3	c0.6,0,1.3,0.5,1.3,1.3C17.4,8.5,16.9,8.9,16.3,8.9z"
              />
            </svg>
          </app-footer-social>

          <app-footer-social bgColor="#b00" bdColor="#a20000" source="youtube">
            <svg class="h-10 w-10" viewBox="0 0 24 24" fill="currentColor">
              <path style="fill: none" d="M0,0h24v24H0V0z" />
              <path
                d="M21.1,7.4c-0.2-0.8-0.9-1.5-1.7-1.7C17.9,5.3,12,5.3,12,5.3s-5.9,0-7.4,0.4C3.8,5.9,3.1,6.6,2.9,7.4C2.5,8.9,2.5,12,2.5,12	s0,3.1,0.4,4.6c0.2,0.8,0.9,1.4,1.7,1.7c1.5,0.4,7.4,0.4,7.4,0.4s5.9,0,7.4-0.4c0.8-0.2,1.5-0.8,1.7-1.7c0.4-1.5,0.4-4.6,0.4-4.6	S21.5,8.9,21.1,7.4z M10.1,14.8V9.2l5,2.8L10.1,14.8L10.1,14.8z"
              />
            </svg>
          </app-footer-social>
        </div>

        <div class="column-right-line-2">
          <p>Todos os direitos reservados. Proibida a reprodução sem prévia autorização</p>
          <p>Um site desenvolvido por <a href="#" class="text-sm font-bold">Miguel Müller</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
